In [4]:
import json
import requests
from typing import Tuple, Dict, List, Union
from collections import Counter

import numpy as np
import networkx as nx
import altair as alt
import seaborn as sns
import pandas as pd
from IPython.display import display

In [5]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [6]:
# nodes = pd.read_csv('https://raw.githubusercontent.com/jjmmwon/VAST-Challenge-2023-MC3/main/data/all_unique_nodes.csv')
nodes = pd.read_csv('./data/all_unique_nodes.csv')
links = pd.read_csv('./data/links_with_weight.csv')
# links = pd.read_csv('https://raw.githubusercontent.com/jjmmwon/VAST-Challenge-2023-MC3/main/data/links_with_weight.csv')

In [27]:
nodes[nodes['id']=="Henties Bay  Ltd. Corporation Family"]
for name in nodes.id:
    if "Henties Bay" in name:
        print(name)
# nodes[nodes['id']=="Henties Bay"]
nodes[nodes['id']=="Henties Bay  Ltd. Corporation Family"]

Henties Bay  GmbH & Co. KG Marine biology
Henties Bay  A/S Logistics
Henties Bay  Ltd. Corporation Family
Henties Bay  S.A. de C.V. Consulting
Henties Bay  United Captain
Henties Bay  Corp Tugboat
Henties Bay  and S.A. de C.V. Consultants
Henties Bay  Ltd. Corporation

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,total_revenue,type_set,neighbor_BO,neighbor_CC,total_rev_per_BO,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality
3103,Henties Bay Ltd. Corporation Family,Oceanus,"['Air and ocean freight forwarding, customs br...",[14666.6728],{'Company': 1},1,1,0,6,3,14666,['Company'],2,1,7333.0,0.021583,0.060943,0.145397,0.033059

In [21]:
links[links["source"]=="Mar del Este SE"]

                source               target              type  weight
12324  Mar del Este SE          Mary Miller  Beneficial Owner       2
12326  Mar del Este SE  Christopher Edwards  Beneficial Owner       2
12328  Mar del Este SE       Anthony Castro  Company Contacts       2

In [7]:
nodes['product_services'] = nodes['product_services'].apply(eval)

In [8]:
nodes

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,total_revenue,type_set,neighbor_BO,neighbor_CC,total_rev_per_BO,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality
0,Jones LLC,ZH,"[Automobiles, Unknown]","['None', 310612303.447]","{'Company': 1, 'Beneficial Owner': 5, 'Company...",11,1,0,8,8,310612303,"['Company', 'Beneficial Owner', 'Company Conta...",5,3,62122460.6,1.000000,1.000000,1.000000,7.071062e-01
1,"Coleman, Hall and Lopez",ZH,"[Passenger cars, trucks, vans, and buses]",[162734683.9969],{'Company': 1},1,0,0,0,0,162734683,['Company'],0,0,162734683.0,0.000000,0.000000,0.000000,0.000000e+00
2,Aqua Advancements Sashimi SE Express,Oceanus,[Holding firm whose subsidiaries are engaged i...,[115004666.6728],{'Company': 1},1,1,0,3,3,115004666,['Company'],2,1,57502333.0,1.000000,1.000000,1.000000,7.071069e-01
3,Makumba Ltd. Liability Co,Utoporiana,"[Car service, car parts and accessories, autom...",[90986412.5191],{'Company': 1},1,1,0,13,13,90986412,['Company'],12,1,7582201.0,0.001833,0.005912,0.058608,5.826009e-07
4,"Taylor, Taylor and Farrell",ZH,[Fully electric vehicles (EVs) and electric ve...,[81466666.6728],{'Company': 1},1,0,0,0,0,81466666,['Company'],0,0,81466666.0,0.000000,0.000000,0.000000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51726,Katherine Stewart,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,0,['Beneficial Owner'],0,0,0.0,1.000000,0.000000,1.000000,7.071068e-01
51727,Christopher James,Unknown,[Unknown],['Unknown'],{'Company Contacts': 1},1,0,1,1,1,0,['Company Contacts'],0,0,0.0,1.000000,0.000000,1.000000,7.071068e-01
51728,Jon Maddox,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,0,['Beneficial Owner'],0,0,0.0,0.000141,0.000000,0.072768,5.606578e-09
51729,Sandra Eaton,Unknown,[Unknown],['Unknown'],{'Company Contacts': 1},1,0,1,1,1,0,['Company Contacts'],0,0,0.0,0.000141,0.000000,0.048904,3.747188e-14
51730,Debra Bender,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,0,['Beneficial Owner'],0,0,0.0,1.000000,0.000000,1.000000,7.071068e-01

In [81]:
is_ocean_node = []
for product in nodes['product_services']:
    flag = 0
    
    for p in product:
        if flag==1:
            break
        for word in ocean_words_list:
            if ' '+word+' ' in ' '+p+' ':
                print(word)
                print()
                flag = 1
                break
#             is_ocean_node.append(0)
    is_ocean_node.append(flag)
print(len(is_ocean_node))
is_ocean_node
nodes['related_ocean'] = is_ocean_node

vessels

smoked

ocean

fish

cod

hook

shipping

sea

water

fish

ice

fish

sea

sea

hook

shipping

fish

fresh

marine

cod

deck

sea

seafood

fishmeal

sea

fresh

aquatic

water

squid

herring

salmon

fillets

seafood

sea

ice

ship

shell

carriers

water

salmon

water

fish

seafood

groundfish

sea

seafood

fresh

fish

seafoods

ice

sea

fish

aquaculture

fresh

waters

fishing

seafood

salmon

liners

seafoods

fish

sea

tuna

fish

flounder

fish

seafood

pacific

sea

seafood

seafood

fish

scallop

cod

fish

fish

seafoods

fish

seafood

seafood

shrimp

tuna

fish

tuna

salt

fish

fresh

fresh

fish

fish

fishing

maritime

seafood

seafood

crustaceans

seafood

fish

salmon

shells

water

hatcheries

fresh

fresh

fish

cephalopods

fresh

seafood

seafood

seafoods

squid

seafood

seafood

seal

fresh

fish

fish

seafood

fishing

marine

fish

fish

fish

seafood

water

water

fresh

salmon

sea

seafood

ship

ice

shippers

fresh

marine

sea

fish

cod

cod

sea

seafood

sand

fish

seafoods

aquatic

crustaceans

ice

fillets

seafood

vessels

shrimp

shrimp

seafood

seafood

eel

shrimps

tuna

pollack

water

seafood

seal

fish

seafood

fresh

fish

salmon

ocean

fish

seafood

seafood

ocean

groundfish

water

boats

seafood

shrimps

salmon

seafood

fish

water

shipping

seafood

fish

fresh

carriers

seafoods

cod

seafood

hatcheries

fresh

seafood

seafood

fish

seafood

seafood

tuna

sea

salmon

seafood

ice

cruise

seafood

fish

fish

seafood

fish

shrimps

fresh

fish

water

fish

sea

seafood

fish

ice

fresh

squid

fish

fish

fishes

seafood

seafood

seafood

pacific

fillet

ocean

fish

water

seafood

scallops

seafood

fish

boats

seafood

shellfish

hypophthalmus

shell

salmon

sea

shell

seafoods

seafood

sea

salmon

fishing

shrimps

fishing

squid

aquatic

marine

seafood

aquatic

seafood

seafood

fresh

fresh

salmon

seafood

seafoods

ice

seafood

sea

sea

seafood

seafood

fish

fish

sea

seafood

fish

shipping

pangasius

water

seafoods

maritime

fish

fish

seafood

seafood

shipping

water

seafoods

seafood

aquatic

seafood

seafood

fresh

salmon

seafood

fillet

sea

sand

fishing

fishes

fish

seafood

seafood

seafood

seafood

seafood

shrimps

tilapia

water

seafood

cod

seafood

seafood

seafood

shipping

aquatic

fish

fish

cod

salmon

fresh

fishes

salmon

maritime

pangasius

sea

fresh

seafood

seafood

sea

fish

seafood

fresh

cod

boats

water

seafoods

seafood

sea

tanks

water

seafood

aquatic

squid

seafood

fish

water

shipping

shrimp

fish

fishing

fish

fish

fresh

beach

cod

fish

ship

marine

fresh

seafood

crustaceans

seafood

seafood

fish

aquatic

water

seafood

fish

water

seafood

ice

seafood

fish

seafood

seafood

fishing

seafood

sea

shell

seafood

fresh

shipping

seafood

sea

shrimp

cod

cod

water

seafood

boats

tilapia

salt

fresh

shrimp

seafood

fish

fish

seafood

seafood

seafoods

ocean

sea

seafood

seafood

aquaculture

fresh

seafood

shipping

seafood

seafood

fresh

croaker

fresh

beach

fish

seafood

salmon

smoked

seafood

seafood

fish

fish

seafood

fish

fish

seafood

fish

seafoods

marine

fish

sea

seafood

fresh

sea

fresh

waters

ice

aquatic

fish

cod

crab

fish

seafood

seafood

seafood

seafood

seafood

fresh

fresh

water

fresh

fresh

seafood

fish

water

seafood

fresh

salmon

seafood

seafood

seafood

fishing

sea

fish

fish

fishing

fishing

fish

sea

fresh

squid

seafood

water

freezing

fish

seafood

fresh

seafood

seafood

seafood

seafood

shrimp

squid

seafood

fillet

seafood

water

freshwater

herrings

fish

fish

seafood

fishing

salts

octopus

seafood

seafood

fish

seafoods

squid

sea

ocean

salmon

shell

ocean

sea

fresh

seafood

seafood

pacific

seafoods

tuna

sea

ice

marine

crab

shipping

seafood

squid

salt

seafood

fish

fresh

maritime

water

sea

squid

trout

fresh

vannamei

sea

seafood

sea

seafood

water

crabs

fresh

seafood

seafood

seafood

fish

fresh

ocean

fishes

sea

sea

fresh

mackerel

sea

salmon

salmon

tanks

seafood

sea

water

aquatic

fresh

shipping

shippers

shipping

seafood

seafood

shrimp

seafood

trout

fish

fresh

sea

seafood

seafood

squid

sea

cod

fish

fish

salmon

fillets

fresh

seafood

fresh

seafood

shipping

fish

seafood

water

aquatic

prawns

sea

seafood

fish

fresh

seafood

anchor

water

aquaculture

aquatic

sea

crustaceans

seafood

catfish

nets

marine

seafood

seafood

seafood

squid

fish

fresh

fish

fresh

seafood

fresh

seafoods

fish

sea

seafood

seafood

water

fish

seafood

fresh

groundfish

fresh

seafood

seafood

sand

fresh

seafood

seafood

shellfish

seafood

fish

fresh

shrimp

seafood

fresh

seafood

beach

sea

salmon

fresh

seafood

seafood

shipping

sea

ice

fish

fishing

shrimp

seafood

fresh

fish

vessels

sea

herring

seafood

seafood

seafood

sea

shrimp

shipping

sea

fresh

aquatic

seafood

fresh

seafood

marine

fish

maritime

fresh

seafood

seafood

fish

sea

fresh

seafood

ocean

seafood

fish

seafood

seafood

fresh

shrimp

sea

aquatic

seafood

crayfish

salmon

ocean

sea

seafood

sea

seafood

fish

seafood

fishmeals

seafood

seafood

seafood

boats

seafoods

water

sardines

sea

sand

shrimp

sea

ocean

seafood

seafood

fresh

seafood

seafood

salmon

freeze

pacific

ocean

mussels

seafood

seafood

water

fish

marine

seafood

fish

shellfish

fish

fish

fresh

fresh

seafood

seafood

seafood

sand

fish

aquatic

fresh

fish

seafoods

ice

marine

fresh

shellfish

fish

seafood

seafood

sea

catfish

seafood

sea

fresh

shipping

fish

pacific

fresh

ice

seafood

seafood

squid

shipping

fish

fresh

squid

seafood

water

shrimps

fish

fresh

seafood

shrimp

sea

seafood

seafood

aquatic

fish

fish

seafood

ice

salmon

seafood

fish

seafood

squid

salmon

water

seafood

ocean

fish

seafood

seafood

fishing

seafood

water

fresh

fresh

freshwater

aquatic

seafood

seafood

aquatic

fish

sea

seafood

seafood

seafood

fishing

sea

water

salmon

water

seal

pangasius

sea

fish

fresh

seafood

cruise

seafood

bay

seafood

carriers

sea

fresh

fresh

salmon

fish

salmon

shrimp

seafoods

sea

seafood

crab

seafood

fish

seafood

seafood

squid

ocean

turbot

fresh

sea

pacific

salmon

sea

seafood

seafood

seafood

seafood

seafood

seafood

seafood

seafood

shrimp

fresh

pacific

marine

seafood

ship

carriers

salt

squid

seafood

fresh

fish

seafood

seafood

fresh

fish

ocean

seafood

fresh

marine

pacific

fishing

water

tilapia

seafood

aquatic

fresh

seafood

atlantic

fishing

ice

fish

fresh

seafood

seafood

seafoods

halibut

seafood

aquatic

seafood

pacific

fresh

fish

seafood

ice

seafood

water

salmon

fresh

sand

seafood

ocean

fish

aquatic

fish

fresh

seafood

seafood

seafood

seafood

fish

seafood

abalone

water

fresh

water

seafood

ice

halibut

fresh

fresh

seafood

anchors

seafood

fish

crustaceans

cod

sea

marine

ice

fresh

fish

scallops

fish

seafood

fish

seafood

water

cod

beach

fish

fishing

seafood

fish

seals

freezing

fish

fishing

water

fishing

fish

cod

fresh

sea

sea

fishing

fish

sea

fish

fresh

seafood

seafood

fish

seafood

cod

seafood

seafood

water

fresh

fishing

fish

sea

water

seafoods

water

pacific

fish

seafood

anchor

aquatic

water

water

seafood

salts

sea

water

seafood

marine

seal

waters

water

lobster

marine

sea

seafood

lobster

water

water

fresh

shrimp

freshwater

fresh

fish

trout

freshwater

fish

shell

fish

buoys

molluscs

fish

boats

molluscs

fish

water

fresh

fresh

fish

fishery

sea

octopus

fish

fresh

fins

sea

shrimps

51731

In [83]:
nodes[nodes['related_ocean']==1]

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,total_revenue,type_set,neighbor_BO,neighbor_CC,total_rev_per_BO,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality,related_ocean
24,Hopkins LLC,ZH,"[Unknown, Operates tramp (panamax) vessels for...","[14667942.4095, 'None']","{'Company': 1, 'Company Contacts': 1}",2,1,0,1,1,14667942,"['Company', 'Company Contacts']",1,0,1.466794e+07,0.5,0.0,0.666667,0.500000,1
38,Neptune's Harvest LC Transport,Riodelsol,"[Frozen whole and cut chickens, partridges, an...",[8726578.5937],{'Company': 1},1,1,0,9,9,8726578,['Company'],8,1,1.090822e+06,0.9,0.4,0.909091,0.500000,1
42,Victoria Falls Limited Liability Company,Rio Isla,[Domestic and international air and ocean frei...,[8014805.9974],{'Company': 1},1,1,0,2,1,8014805,['Company'],0,1,8.014805e+06,0.5,0.0,0.666667,0.500000,1
46,Caracola del Mar NV Family,Rio Isla,"[Canned, frozen and other processed convenienc...",[7085565.7508],{'Company': 1},1,1,0,10,5,7085565,['Company'],4,1,1.771391e+06,1.0,1.0,1.000000,0.707106,1
49,Jenkins Group,ZH,[Specializes in producing processed frozen cod...,"[80248.5841, 6721268.9403, 'None']","{'Company': 2, 'Beneficial Owner': 1, 'Company...",5,0,0,0,0,6801516,"['Company', 'Beneficial Owner', 'Company Conta...",0,0,6.801516e+06,0.0,0.0,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8140,Roberts-Hernandez,ZH,"[Fish; smoked, whether or not cooked before or...",[268156213.227],{'Company': 1},1,0,0,0,0,268156213,['Company'],0,0,2.681562e+08,0.0,0.0,0.000000,0.000000,1
8141,Jones-Carroll,ZH,"[Fish; fresh or chilled, Alaska pollack (Thera...",[279300690.227],{'Company': 1},1,0,0,0,0,279300690,['Company'],0,0,2.793007e+08,0.0,0.0,0.000000,0.000000,1
8142,Huynh Group,ZH,"[Fish; frozen, shark fins]",[267082226.227],{'Company': 1},1,0,0,0,0,267082226,['Company'],0,0,2.670822e+08,0.0,0.0,0.000000,0.000000,1
8147,"Gonzalez, Gonzalez and Rodriguez",ZH,[Deep sea fishing Charter],[97568751.227],{'Company': 1},1,0,0,0,0,97568751,['Company'],0,0,9.756875e+07,0.0,0.0,0.000000,0.000000,1
8148,Wise-Shields,ZH,"[Crustacean preparations; shrimps and prawns, ...",[131680733.227],{'Beneficial Owner': 1},1,0,0,0,0,131680733,['Beneficial Owner'],0,0,1.316807e+08,0.0,0.0,0.000000,0.000000,1

In [84]:
nodes.to_csv('all_unique_nodes_with_ocean.csv', index=False)

In [85]:
nodes[nodes['related_ocean']==1].to_csv('ocean_nodes.csv', index=False)

In [9]:
import nltk
nltk.download(['punkt', 'averaged_perceptron_tagger', 'stopwords'])

from nltk.util import ngrams
from textblob import TextBlob

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/hongdonghee/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/hongdonghee/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hongdonghee/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
company_nodes = nodes[nodes['is_source']==1]
company_nodes

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,total_revenue,type_set,neighbor_BO,neighbor_CC,total_rev_per_BO,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality
0,Jones LLC,ZH,"[Automobiles, Unknown]","['None', 310612303.447]","{'Company': 1, 'Beneficial Owner': 5, 'Company...",11,1,0,8,8,310612303,"['Company', 'Beneficial Owner', 'Company Conta...",5,3,6.212246e+07,1.000000,1.000000,1.000000,7.071062e-01
2,Aqua Advancements Sashimi SE Express,Oceanus,[Holding firm whose subsidiaries are engaged i...,[115004666.6728],{'Company': 1},1,1,0,3,3,115004666,['Company'],2,1,5.750233e+07,1.000000,1.000000,1.000000,7.071069e-01
3,Makumba Ltd. Liability Co,Utoporiana,"[Car service, car parts and accessories, autom...",[90986412.5191],{'Company': 1},1,1,0,13,13,90986412,['Company'],12,1,7.582201e+06,0.001833,0.005912,0.058608,5.826009e-07
6,Punjab s Marine conservation,Riodelsol,"[Beef, pork, chicken, and lamb by-products; co...",[72167572.0026],{'Company': 1},1,1,0,6,6,72167572,['Company'],5,1,1.443351e+07,0.666667,0.833333,0.600000,6.858327e-01
7,Assam Limited Liability Company,Utoporiana,[Power and Gas segment (gas and steam turbines...,"[20666.6728, 72162317.2658]",{'Company': 2},2,1,0,15,8,72182983,['Company'],6,2,1.203050e+07,0.089888,0.172370,0.234211,9.263075e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30461,"Butler, Hendricks and Sherman",Unknown,[Unknown],['Unknown'],{'Unknown': 1},1,1,0,1,1,0,['Unknown'],1,0,0.000000e+00,1.000000,0.000000,1.000000,7.071068e-01
30462,Ocean Emporium Corporation Distribution,Unknown,[Unknown],['Unknown'],{'Unknown': 1},1,1,0,2,2,0,['Unknown'],0,2,0.000000e+00,0.666667,0.166667,0.750000,5.000000e-01
30463,"Martinez, Boone and Brooks",Unknown,[Unknown],['Unknown'],{'Unknown': 1},1,1,0,1,1,0,['Unknown'],1,0,0.000000e+00,0.333333,0.000000,0.500000,3.717482e-01
30464,"Fry, Pope and Edwards",Unknown,[Unknown],['Unknown'],{'Unknown': 1},1,1,0,1,1,0,['Unknown'],0,1,0.000000e+00,0.000141,0.000000,0.081249,6.371169e-07
30465,Jackson-Thompson,Unknown,[Unknown],['Unknown'],{'Unknown': 1},1,1,0,1,1,0,['Unknown'],1,0,0.000000e+00,1.000000,0.000000,1.000000,7.071068e-01

In [7]:
nodes['product_services'] = nodes['product_services'].apply(eval)

In [11]:
# nodes['product_services_string'] = nodes['product_services'].apply(' | '.join)
# nodes['product_services_string']
nodes['product_services_string'] = nodes['id'].astype(str) 
# + ' | ' + nodes['product_services'].apply(' | '.join)
# nodes

In [12]:
# nodes["sentences"] = nodes.product_services_string.apply(lambda x: nltk.sent_tokenize(x))
# nodes["num_sentences"] = nodes.sentences.apply(lambda x: len(x))
# nodes["sentences"]
nodes['words'] = nodes.product_services_string.apply(lambda x: nltk.word_tokenize(x))
nodes['tagged_words'] = nodes.words.apply(lambda x: nltk.pos_tag(x))

In [13]:
nodes[['words', 'tagged_words']]

,words,tagged_words
0,"[Jones, LLC]","[(Jones, NNP), (LLC, NNP)]"
1,"[Coleman, ,, Hall, and, Lopez]","[(Coleman, NNP), (,, ,), (Hall, NNP), (and, CC..."
2,"[Aqua, Advancements, Sashimi, SE, Express]","[(Aqua, NNP), (Advancements, NNP), (Sashimi, N..."
3,"[Makumba, Ltd, ., Liability, Co]","[(Makumba, NNP), (Ltd, NNP), (., .), (Liabilit..."
4,"[Taylor, ,, Taylor, and, Farrell]","[(Taylor, NN), (,, ,), (Taylor, NNP), (and, CC..."
...,...,...
51726,"[Katherine, Stewart]","[(Katherine, NNP), (Stewart, NNP)]"
51727,"[Christopher, James]","[(Christopher, NNP), (James, NNP)]"
51728,"[Jon, Maddox]","[(Jon, NNP), (Maddox, NNP)]"
51729,"[Sandra, Eaton]","[(Sandra, NNP), (Eaton, NNP)]"
51730,"[Debra, Bender]","[(Debra, NNP), (Bender, NNP)]"

In [18]:
nodes['nouns'] = nodes.tagged_words.apply(lambda x: [word for word, tag in x if tag.startswith("NN")])
nodes[["tagged_words", "nouns"]]

,tagged_words,nouns
0,"[(Jones, NNP), (LLC, NNP)]","[Jones, LLC]"
1,"[(Coleman, NNP), (,, ,), (Hall, NNP), (and, CC...","[Coleman, Hall, Lopez]"
2,"[(Aqua, NNP), (Advancements, NNP), (Sashimi, N...","[Aqua, Advancements, Sashimi, SE, Express]"
3,"[(Makumba, NNP), (Ltd, NNP), (., .), (Liabilit...","[Makumba, Ltd, Liability, Co]"
4,"[(Taylor, NN), (,, ,), (Taylor, NNP), (and, CC...","[Taylor, Taylor, Farrell]"
...,...,...
51726,"[(Katherine, NNP), (Stewart, NNP)]","[Katherine, Stewart]"
51727,"[(Christopher, NNP), (James, NNP)]","[Christopher, James]"
51728,"[(Jon, NNP), (Maddox, NNP)]","[Jon, Maddox]"
51729,"[(Sandra, NNP), (Eaton, NNP)]","[Sandra, Eaton]"
51730,"[(Debra, NNP), (Bender, NNP)]","[Debra, Bender]"

In [19]:
# Your answer here
from collections import Counter

def get_counter(dataframe, stopwords=[], target_tag=None):
    counter = Counter()
    
    for l in dataframe.tagged_words:
        word_set = set()

        for t in l:
            word = t[0].lower()
            tag = t[1]

            ##########################################################
            # Check if the word is a stopword.
            ##########################################################
            if word in stopwords:
                continue

            if target_tag is None:
                word_set.add(word)
            else:
                ##########################################################
                # Check the tag
                ##########################################################
                if tag.startswith(target_tag):
                    word_set.add(word)
                else:
                    continue

        counter.update(word_set)
        
    return counter

global_stopwords = nltk.corpus.stopwords.words("english") 
counter1 = get_counter(nodes, global_stopwords, "NN")
len(counter1.most_common())

10509

In [20]:
import string
local_stopwords = [c for c in string.punctuation] +\
                  ['â€˜', 'â€™', 'â€”', 'â€¦', "'s", "n't", 'â€œ', 'unknown']
counter2 = get_counter(nodes, global_stopwords+local_stopwords, "NN")
len(counter2.most_common())

10508

In [17]:
counter3 = get_counter(nodes, global_stopwords+local_stopwords, "JJ")
len(counter3.most_common())

1746

In [21]:
counter1

Counter({'jones': 593,
         'llc': 754,
         'hall': 237,
         'lopez': 306,
         'coleman': 118,
         'aqua': 59,
         'se': 108,
         'sashimi': 11,
         'advancements': 3,
         'express': 143,
         'ltd': 1343,
         'makumba': 2,
         'liability': 586,
         'co': 443,
         'taylor': 409,
         'farrell': 26,
         'edwards': 161,
         'harmon': 49,
         'bates': 54,
         'marine': 617,
         'punjab': 15,
         'conservation': 90,
         'assam': 13,
         'company': 406,
         'limited': 233,
         'sagl': 124,
         'starfish': 15,
         'import': 57,
         'ianira': 5,
         'lewis': 246,
         'moran': 49,
         'jimenez': 101,
         'plc': 791,
         'salt': 24,
         'explorers': 10,
         'spray': 51,
         'sisters': 16,
         'saltwater': 87,
         'life': 105,
         'turtle': 9,
         'sea': 324,
         'smith': 990,
         'mathews': 35,
         'waters': 38,
         'pier': 11,
         'cjsc': 102,
         'mar': 578,
         'aventura': 15,
         'logistics': 116,
         'fisher': 137,
         'group': 672,
         'yacht': 10,
         'south': 5,
         'investment': 60,
         'ges.m.b.h': 105,
         'cristalino': 18,
         'uttar': 22,
         'seafoam': 15,
         'pradesh': 130,
         'morales': 117,
         'young': 217,
         'morgan': 154,
         'river': 164,
         'nv': 111,
         'okavango': 13,
         'kennedy-sanchez': 1,
         'hopkins': 52,
         'omo': 7,
         'ocean': 79,
         'sanctuary': 92,
         'incorporated': 99,
         'srl': 110,
         'foods': 52,
         'oceanfront': 38,
         'line': 95,
         'n.v.': 68,
         'tana': 8,
         'enterprises': 62,
         'lake': 141,
         'reed': 163,
         'delivery': 100,
         'surfers': 11,
         'sailors': 11,
         'ob': 16,
         'wakame': 13,
         'united': 90,
         'telangana': 10,
         'williams': 637,
         'cox': 133,
         'nautical': 7,
         'beachcombers': 6,
         'carriers': 99,
         'tamil': 46,
         'corp': 126,
         'market': 96,
         'nadu': 44,
         'adkins': 36,
         'garcia': 384,
         'perkins': 70,
         'c.v.': 90,
         'fjord': 12,
         's.a.': 299,
         'brothers': 103,
         'de': 168,
         'harvest': 11,
         'lc': 112,
         'transport': 170,
         'neptune': 30,
         'hill-harris': 1,
         'family': 48,
         'stewart': 183,
         'leonard': 55,
         'falls': 19,
         'victoria': 85,
         'west': 119,
         'powell': 100,
         'colon': 29,
         'caracola': 75,
         'este': 127,
         'bv': 111,
         'coral': 123,
         'reef': 24,
         'meyer-ho': 1,
         'sons': 663,
         'jenkins': 104,
         'mussels': 15,
         'plata': 52,
         'bahÃ­a': 75,
         'jetty': 11,
         'mason': 74,
         'poole-moore': 1,
         'lion': 11,
         'biology': 88,
         'water': 33,
         'world': 18,
         'co.': 210,
         'kg': 210,
         'gmbh': 339,
         'saharan': 13,
         'oasis': 27,
         'c.v': 209,
         'felicidad': 50,
         'rybachit': 15,
         'mercado': 27,
         'rollins': 22,
         'miller': 499,
         'trawler': 9,
         'costa': 148,
         'estrella': 81,
         'alvarez-cabrera': 1,
         'kga': 134,
         'freight': 98,
         'coast': 70,
         'senegal': 15,
         'wilson-matthews': 1,
         'qÄ«ng': 9,
         'floyd': 35,
         'acevedo-hall': 1,
         'anchovy': 31,
         'krause': 31,
         'bihar': 4,
         'le': 30,
         'mandalore': 2,
         'luna': 95,
         'ola': 50,
         'a/s': 114,
         'corporation': 347,
         'davis': 469,
         'bengal': 35,
         'rascals': 4,
         'torres': 172,
         'knight': 71,
         'lane': 82,
         'hampton': 29,
         'rios': 52,
         'emporium': 6,
         'services': 55,
         'merchants': 46,
         'paraÃ­so': 17,
         'norte': 38,
         'nÃ¡utica': 63,
         'oyj': 110,
         'america': 14,
         'oracle': 6,
         'la': 9,
         'playa': 156,
         'parker': 168,
         'meyers': 30,
         'lambert-spence': 1,
         'walker-chandler': 1,
         'vespuci': 6,
         'valley': 36,
         'zambezi': 40,
         'hanson': 54,
         'kelly': 191,
         'cobb': 47,
         'rogers': 168,
         'game': 22,
         'reserve': 22,
         'wright-hopkins': 1,
         'carter-mayo': 1,
         'shipping': 112,
         'black': 117,
         'mora': 35,
         'dorada': 7,
         'johnson': 796,
         'deleon': 43,
         '_': 13,
         'richards': 67,
         'bush-espinoza': 1,
         'silverfin': 3,
         'dredge': 15,
         'finest': 2,
         'cargo': 148,
         'hawkins-benson': 1,
         'hicks-glass': 1,
         'cunningham': 74,
         'bailey': 138,
         'mitchell': 209,
         'proctor': 25,
         'long': 99,
         'valdez': 47,
         'baltic': 3,
         'catch': 48,
         'ecology': 100,
         'sol': 108,
         'arena': 66,
         'warriors': 8,
         'wave': 37,
         'tesoro': 23,
         'trout': 32,
         'motoso': 6,
         'anderson': 360,
         'aquadelicious': 2,
         'overseas': 58,
         'olas': 38,
         'sur': 37,
         'sloan-hall': 1,
         'barents': 23,
         'star': 7,
         'yÃº': 96,
         'solutions': 145,
         'zhÄng': 5,
         'diao': 33,
         'sp': 111,
         'kelp': 9,
         'reefrider': 7,
         'transit': 108,
         'hensley-martinez': 1,
         'brown-ortiz': 1,
         'atkins': 30,
         'hill': 197,
         'walters': 52,
         'griffin': 95,
         'gill': 43,
         'fernandez': 73,
         'kashmir': 28,
         'jammu': 34,
         'tilapia': 9,
         'sand': 15,
         'surf': 65,
         'transportation': 40,
         'rojo': 5,
         'vida': 20,
         'ag': 120,
         'silva': 66,
         'rodriguez': 351,
         'vance-cunningham': 1,
         'elara': 2,
         'mussel': 11,
         'hernandez': 332,
         'thomas': 504,
         'calamari': 9,
         'ab': 111,
         'forwading': 72,
         'salazar-ochoa': 1,
         'caribe': 15,
         'catchers': 17,
         'tadjoura': 8,
         'gulf': 31,
         'orange': 25,
         'munoz-vargas': 1,
         'submarine': 11,
         'ojsc': 110,
         'bounty': 25,
         'bass': 45,
         'inc': 791,
         'moore': 237,
         'sandbar': 11,
         'wright': 215,
         'brown': 596,
         'reyes': 115,
         'crocodile': 11,
         'nile': 33,
         'richardson': 135,
         'archer': 13,
         'malawi': 23,
         'sailboat': 13,
         'hijiki': 12,
         'mckay': 22,
         'mcclain': 39,
         'lucas': 73,
         'owen': 32,
         'goodman': 38,
         'hammond': 40,
         'atkinson': 33,
         'henderson': 109,
         'roberts': 192,
         'solitude': 6,
         'webster': 44,
         'rice': 62,
         'porter': 77,
         'turkana': 8,
         'walker': 227,
         'copeland': 23,
         'finley-parks': 1,
         'martin': 351,
         'stephens': 87,
         'sahara': 9,
         'fan': 6,
         'shark': 13,
         'sikkim': 11,
         'sparrman': 10,
         'bream': 20,
         'rÃ©n': 17,
         'barge': 12,
         'shÃ­': 17,
         'baxter': 28,
         'aquacuisine': 4,
         'andhra': 26,
         'newman': 62,
         'yang': 47,
         'dillon': 44,
         'wells-baker': 1,
         'matthews': 62,
         'consultants': 58,
         'tran': 70,
         'whitney': 42,
         'congo': 21,
         'bonito': 12,
         'basin': 5,
         'shanty': 5,
         'azul': 79,
         'moon-hughes': 1,
         'solomon-church': 1,
         'simpson': 88,
         'consulting': 45,
         'ocÃ©ano': 31,
         'shrimp': 39,
         'beck': 58,
         'hogan': 31,
         'baker': 215,
         'madagascar': 8,
         'macias': 26,
         'bird': 15,
         'turners': 5,
         'tide': 14,
         'samaka': 9,
         'worldwide': 83,
         'blue': 62,
         'mcknight': 16,
         'asveja': 4,
         'international': 53,
         'jackson': 339,
         'export': 51,
         's.p.a': 47,
         'kainji': 9,
         'madhya': 31,
         'mist': 16,
         'harris': 275,
         'seasplash': 8,
         'holdings': 113,
         'scott': 311,
         'nori': 10,
         'fÄ“i': 5,
         'ryan-wolf': 1,
         'seagull': 13,
         'ancla': 41,
         'Ð¾Ð°Ð¾': 118,
         'fox': 72,
         'wilson': 364,
         'dunn': 83,
         'barracuda': 12,
         'bend': 5,
         'niger': 17,
         'son': 139,
         'russell-stevens': 1,
         'campbell': 208,
         'poole': 33,
         'nash': 31,
         'david': 283,
         'pic': 114,
         'crab': 26,
         'martinez': 351,
         'vazquez': 39,
         'myers-stewart': 1,
         'faroe': 24,
         'islands': 33,
         'horton': 48,
         'lee': 275,
         'watkins': 82,
         'guinea': 23,
         'mclaughlin': 54,
         'norton': 35,
         'barton': 44,
         'seabass': 40,
         'n.v': 47,
         'lock': 4,
         'tuna': 28,
         'haryana': 26,
         'gvardeysk': 12,
         'viento': 50,
         'mackerel': 29,
         'tidal': 20,
         'flat': 6,
         'gordon': 77,
         'allen': 272,
         'seascape': 11,
         'rasmussen': 19,
         'ramirez': 174,
         'may': 61,
         'patterson-miller': 1,
         'distribution': 55,
         'mcgee-jackson': 1,
         'marina': 29,
         'harbor': 11,
         'carrillo': 37,
         'tshikwea': 5,
         'davila-griffin': 1,
         'rose': 84,
         'schultz': 57,
         'flint': 4,
         'marks': 37,
         'lawson': 48,
         'ooo': 4,
         'lou': 3,
         'yu': 92,
         'taylor-williams': 1,
         'carter-lee': 1,
         'pao': 5,
         'luxe': 5,
         'whale': 16,
         'perla': 19,
         'guzman-hall': 1,
         'striders': 7,
         'swordfish': 8,
         'sparks': 37,
         'jacobs': 76,
         'henderson-smith': 1,
         'guÄ«': 9,
         'doyle': 43,
         'ermen': 11,
         'gourmet': 8,
         'caviar': 8,
         'seaspritz': 3,
         'boyd-perry': 1,
         'boat': 16,
         'charter': 16,
         'watchers': 12,
         'escarpment': 6,
         'chavez': 99,
         'thoho': 5,
         'supreme': 8,
         'nagaland': 18,
         'ship': 48,
         'cruise': 19,
         'oeste': 18,
         'trevino': 25,
         'tidepool': 13,
         'tidaltaste': 1,
         'hohhot': 5,
         'stevenson': 48,
         'myers': 119,
         'terry': 84,
         'sextant': 17,
         'larson': 61,
         'kirby': 31,
         'mann': 47,
         'curtis': 82,
         'garcia-weber': 1,
         'barco': 17,
         'preston-scott': 1,
         'lÃº': 21,
         'james': 372,
         'bender': 24,
         'glover': 39,
         'kennedy': 94,
         'francis': 43,
         'scallop': 19,
         'brisa': 28,
         'melton-owens': 1,
         'seashell': 17,
         'sanctum': 4,
         'kaiser': 23,
         'carp': 11,
         'paradera': 7,
         'luangwa': 7,
         'seafarer': 19,
         'zanzibar': 7,
         'archipelago': 7,
         'glass-russell': 1,
         'mÇŽ': 9,
         'hÇŽi': 32,
         'buoy': 13,
         'oyster': 15,
         'cielo': 38,
         'barry-mendoza': 1,
         'arunachal': 28,
         'finestcatch': 4,
         'barron': 30,
         'cod': 25,
         'tugboat': 8,
         'turner': 170,
         'hamilton': 115,
         'perez': 262,
         'aguilar': 65,
         'matuku': 4,
         'kirk': 34,
         'nordic': 2,
         'dry': 24,
         'dock': 12,
         'haddock': 5,
         'medina-howard': 1,
         'hill-davis': 1,
         'clark': 262,
         'barnes': 107,
         'albertine': 6,
         'rift': 27,
         'seafarms': 3,
         'flores': 156,
         'kambala': 6,
         'mountains': 10,
         'atlas': 7,
         'green': 199,
         'cat': 14,
         'balkan': 29,
         'dickson': 19,
         'solis': 37,
         'hayes': 104,
         'white': 322,
         'wallace': 100,
         'flotsam': 12,
         'cymopoleia': 1,
         'sims': 50,
         'er': 20,
         'carroll': 59,
         'stephens-davis': 1,
         'king': 199,
         'gujarat': 15,
         'ers': 15,
         'regatta': 11,
         'silverscales': 8,
         'seabed': 9,
         'chang': 27,
         'brandt': 20,
         'bay': 24,
         'lobster': 15,
         'kilimanjaro': 5,
         'fishery': 17,
         's.p.a.': 63,
         'carlson': 84,
         'mÃ³guÇ': 5,
         'sword': 16,
         'merritt': 25,
         'evans': 188,
         'oceans': 5,
         'case-richardson': 1,
         'bÃ¡i': 15,
         'wÄ›n': 15,
         'suÅ': 21,
         'murphy': 157,
         'robert': 247,
         'rapids': 16,
         'monroe': 38,
         'holmes': 75,
         'alexander': 182,
         'mcfarland': 20,
         'huff-christensen': 1,
         'henties': 8,
         'caldwell': 51,
         'wood': 137,
         'collins': 151,
         'monroe-miller': 1,
         'bernard-thomas': 1,
         'oro': 45,
         'davila': 24,
         'stewart-spears': 1,
         'nyasa': 7,
         'michael': 376,
         'wonders': 9,
         'liumbwe': 6,
         'clark-johnson': 1,
         'erickson': 53,
         'morris': 145,
         'young-stewart': 1,
         'currents': 9,
         'cook': 151,
         'sheppard': 24,
         'bryan': 82,
         'snyder-ramirez': 1,
         'beasley-morales': 1,
         'creek': 18,
         'douglas': 111,
         'anchor': 13,
         'winters': 29,
         'ray': 87,
         'atlantic': 13,
         'obrien': 60,
         'butler': 100,
         'horton-fields': 1,
         'oysters': 14,
         'rosario': 17,
         'karelians': 6,
         'shipyard': 15,
         'mount': 9,
         'kenya': 9,
         'tsunami': 10,
         'leblanc': 11,
         'woods': 103,
         'donovan': 21,
         'nguyen': 149,
         'morrison': 64,
         'hanna': 24,
         'mendoza': 104,
         'daugherty': 13,
         'gorge': 7,
         'shepard': 23,
         'branch': 12,
         'kong': 14,
         'torres-valentine': 1,
         'castaneda': 33,
         'buchanan': 43,
         'orr': 26,
         'eirene': 3,
         'cross-mclaughlin': 1,
         'lÃ³ng': 13,
         'xiÄ': 19,
         'keller-craig': 1,
         'nazhivka': 5,
         'boyd': 63,
         'baker-miller': 1,
         'wyatt': 24,
         'sanchez': 233,
         'dunlap': 19,
         'knapp': 21,
         'limpopo': 9,
         'henderson-padilla': 1,
         'bluewaterbites': 2,
         'bryant': 89,
         'hunter': 96,
         'isla': 51,
         'eudora': 7,
         'estuary': 20,
         'roberts-benson': 1,
         'salty': 23,
         'dog': 12,
         'cannon': 43,
         'robinson': 233,
         'soto': 68,
         'wells': 96,
         'olson-daniels': 1,
         'malabar': 5,
         'reefr': 9,
         'snyder': 90,
         'lozano': 36,
         'mcguire': 40,
         'harvey': 63,
         'bruce': 47,
         'shÄ': 6,
         'beachcomber': 15,
         'fleming-washington': 1,
         'hines': 30,
         'seabite': 3,
         'shanxi': 4,
         'ventures': 23,
         'mweru': 7,
         'atlÃ¡ntico': 6,
         'oceanica': 2,
         'ruiz': 85,
         'moss-castro': 1,
         'dutch': 32,
         'ellis': 91,
         'swamp': 5,
         'sudd': 5,
         'club': 13,
         'icelandic': 13,
         'herring': 34,
         'himachal': 21,
         'flair': 9,
         'fin': 15,
         'esparza': 32,
         'avila': 37,
         'mendez-ruiz': 1,
         'volta': 6,
         'beach': 19,
         'industrial': 46,
         'aguamarina': 4,
         'sanford': 28,
         'bell': 146,
         'dashi': 12,
         'pace': 33,
         'gonzales': 95,
         'sanders': 112,
         'ross': 117,
         'sutton': 58,
         'manyara': 11,
         'kerala': 24,
         'french': 9,
         'luz': 16,
         'seal': 10,
         'acosta': 47,
         'olson': 75,
         'delta': 28,
         'marit': 2,
         'serenity': 3,
         'oases': 10,
         'gibson': 99,
         'pierce': 76,
         'scania': 4,
         'coralcove': 10,
         'marmooska': 7,
         'robertson': 84,
         'house': 19,
         'simmons': 93,
         'singh': 41,
         'ryan': 175,
         'farley': 19,
         'logan-robbins': 1,
         'jetsam': 11,
         'seaselect': 5,
         'watts': 53,
         'drakensberg': 1,
         'cristal': 17,
         'phillips-ramos': 1,
         'barrett': 65,
         'burton': 74,
         'wong': 47,
         'chase': 40,
         'plaice': 4,
         'spencer': 98,
         'chaney': 20,
         'current': 14,
         'benguela': 7,
         'iphimedeia': 7,
         'serrano': 34,
         'chapman': 66,
         'espinoza': 44,
         'carter-thompson': 1,
         'adventures': 18,
         'oceanicorigin': 10,
         'roe': 7,
         'tshinganda': 2,
         'jiyu': 4,
         'snapper': 23,
         'brackish': 5,
         'red': 13,
         'salmon': 29,
         'shannon-morales': 1,
         'pregolya': 4,
         'wiley': 42,
         'bu': 16,
         'perez-davis': 1,
         'ho-saunders': 1,
         'chobe': 4,
         'vaughn': 41,
         'arawak': 7,
         'herman': 22,
         'york': 32,
         'howell': 63,
         'hudson': 90,
         'meyer': 79,
         'barrera': 24,
         'souls': 6,
         'morrow': 34,
         'deleon-delacruz': 1,
         'tangier': 8,
         'fish': 18,
         'hensley': 33,
         'odisha': 13,
         'eukrante': 7,
         'seafood': 7,
         'matthews-carr': 1,
         'galene': 3,
         'berry': 59,
         'santiago': 59,
         'simon': 55,
         'harrell': 29,
         'alvarez': 88,
         'zimmerman': 43,
         'hodges': 42,
         'fields': 67,
         'freeman': 87,
         'burke': 63,
         'ewing': 11,
         'johnson-gonzalez': 1,
         'masters': 8,
         'marlin': 8,
         'mudflat': 7,
         'richard': 180,
         'davis-collins': 1,
         'sardines': 18,
         'pike': 9,
         'gonzalez-diaz': 1,
         'brown-andrews': 1,
         'krill': 11,
         'hull': 38,
         'gonzales-cabrera': 1,
         'amur': 6,
         'jÄ«ng': 1,
         'otter': 9,
         'hobbs': 30,
         'strong': 15,
         'melendez': 17,
         'verde': 12,
         'cape': 26,
         'deep-sea': 7,
         'peterson-myers': 1,
         'brine': 15,
         'rivera': 134,
         'salazar': 62,
         'asiotr': 9,
         'pope-miller': 1,
         'preston': 38,
         'sirenas': 14,
         'hammond-miles': 1,
         'powell-rivera': 1,
         'wilcox': 37,
         'pearl': 30,
         'salted': 19,
         'breeze': 7,
         'ortiz': 107,
         'hayden': 34,
         'golfo': 16,
         'compass': 6,
         'yates-jacobs': 1,
         'ortega': 66,
         'mendez': 61,
         'norris': 47,
         'arnold': 72,
         'carpenter': 85,
         'leska': 14,
         'thompson-evans': 1,
         'maharashtra': 10,
         'mccullough': 20,

In [18]:
filtered_counter2 = {word: count for word, count in counter2.items() if count > 2}
len(filtered_counter2)

1904

In [19]:
filtered_counter3 = {word: count for word, count in counter3.items() if count > 2}
len(filtered_counter3)

401

In [21]:
import pandas as pd

df2 = pd.DataFrame(list(filtered_counter2.items()), columns=['category', 'count'])
df3 = pd.DataFrame(list(filtered_counter3.items()), columns=['category', 'count'])

In [23]:
df = pd.concat([df2, df3], axis=0, join='outer', ignore_index=False, keys=None)
df.to_csv('words.csv', index=False)

In [83]:
filtered_counter2

{'automobiles': 9,
 'passenger': 7,
 'trucks': 11,
 'vans': 3,
 'cars': 10,
 'buses': 5,
 'subsidiaries': 6,
 'polymers': 2,
 'pollution': 5,
 'firm': 5,
 'equipment': 246,
 'fertilizers': 8,
 'trading': 13,
 'chemicals': 87,
 'services': 326,
 'products': 1449,
 'process': 27,
 'businesses': 11,
 'minerals': 12,
 'fibers': 15,
 'consumer': 43,
 'refining': 4,
 'commodity': 8,
 'control': 50,
 'trade': 31,
 'electronics': 23,
 'enthusiasts': 2,
 'garden': 7,
 'service': 61,
 'diy': 5,
 'parts': 122,
 'communication': 11,
 'starters': 2,
 'accessories': 168,
 'appliances': 35,
 'systems': 129,
 'power': 51,
 'tools': 72,
 'security': 12,
 'diagnostics': 3,
 'sensors': 11,
 'household': 58,
 'shops': 4,
 'home': 57,
 'water': 72,
 'heating': 11,
 'technology': 49,
 'car': 17,
 'repair': 22,
 'auto': 12,
 'industry': 67,
 'vehicles': 26,
 'components': 87,
 'vehicle': 23,
 'supermarket': 3,
 'non-food': 12,
 'food': 279,
 'discount': 3,
 'variety': 36,
 'sale': 20,
 'soda': 5,
 'acid': 11,
 'plastic': 75,
 'oil': 52,
 'soybean': 4,
 'provision': 20,
 'base': 9,
 'steel': 104,
 'soap': 5,
 'collagen': 15,
 'bar': 18,
 'by-products': 5,
 'business': 42,
 'pork': 28,
 'transportation': 117,
 'biscuits': 11,
 'recycling': 4,
 'concentrates': 8,
 'management': 77,
 'leather': 26,
 'purchase': 8,
 'center': 6,
 'cooked': 4,
 'operations': 9,
 'electric': 7,
 'cans': 9,
 'waste': 7,
 'resin': 10,
 'distribution': 87,
 'beef': 30,
 'blue': 9,
 'meat': 111,
 'chicken': 14,
 'cattle': 4,
 'production': 52,
 'trains': 2,
 'solutions': 95,
 'infrastructure': 5,
 'gears': 9,
 'plant': 19,
 'mobility': 3,
 'drives': 10,
 'solution': 10,
 'technologies': 12,
 'steam': 4,
 'generators': 4,
 'plants': 20,
 'consulting': 11,
 'planning': 9,
 'digital': 4,
 'energy': 22,
 'compressor': 5,
 'automation': 16,
 'applications': 43,
 'software': 14,
 'identification': 5,
 'ventilation': 3,
 'supplies': 101,
 'safety': 30,
 'financial': 3,
 'freight': 131,
 'training': 12,
 'industries': 42,
 'segment': 4,
 'gas': 22,
 'traffic': 4,
 'wind': 4,
 'instrumentation': 4,
 'road': 17,
 'drive': 10,
 'motors': 10,
 'generation': 2,
 'system': 30,
 'construction': 53,
 'factory': 7,
 'air': 76,
 'equity': 4,
 'conditioning': 5,
 'investment': 12,
 'building': 36,
 'rail': 12,
 'renewables': 2,
 'financing': 2,
 'devices': 32,
 'fire': 11,
 'debt': 2,
 'turbines': 5,
 'couplings': 3,
 'forklifts': 3,
 'chemical': 40,
 'machinery': 77,
 'science': 8,
 'plastics': 33,
 'materials': 142,
 'animal': 11,
 'specialty': 64,
 'protection': 26,
 'health': 26,
 'care': 52,
 'material': 16,
 'pharmaceuticals': 11,
 'rubber': 39,
 'internet': 2,
 'ware': 8,
 'needs': 6,
 'merchandise': 37,
 'bath': 7,
 'house': 12,
 'children': 27,
 'decor': 11,
 'bed': 3,
 'kitchen': 19,
 'apparel': 59,
 'wear': 9,
 'adult': 4,
 'grocery': 60,
 'clearance': 12,
 'sharing': 2,
 'cargo': 43,
 'information': 20,
 'insurance': 21,
 'consultation': 3,
 'commissioning': 4,
 'vessels': 10,
 'transport': 45,
 'customs': 42,
 'provides': 35,
 'stowage': 2,
 'goods': 147,
 'temperature': 13,
 'storage': 43,
 'pda': 2,
 'notebook': 2,
 'computer': 20,
 'personal': 5,
 'ingredient': 6,
 'resins': 15,
 'grains': 6,
 'monitor': 3,
 'api': 2,
 'polyester': 16,
 'fiber': 24,
 'seat': 5,
 'department': 5,
 'wheel': 7,
 'ore': 5,
 'scrap': 8,
 'iron': 38,
 'stores': 16,
 'making': 8,
 'crystal': 5,
 'cotton': 13,
 'slab': 2,
 'media': 15,
 'marketing': 27,
 'ball': 10,
 'lcd': 5,
 'metal': 82,
 'paper': 52,
 'tire': 5,
 'operation': 25,
 'others': 32,
 'component': 6,
 'display': 9,
 'panel': 6,
 'tv': 3,
 'items': 56,
 'joint': 4,
 'telecommunication': 3,
 'billet': 2,
 'disc': 3,
 'textile': 37,
 'yarn': 6,
 'pellet': 2,
 'korea': 4,
 'aluminum': 52,
 'shape': 3,
 'commodities': 8,
 'communications': 5,
 'advanced': 4,
 'line': 46,
 'full': 3,
 'range': 132,
 'wide': 9,
 'foods': 72,
 'meal': 8,
 'breeding': 2,
 'processing': 105,
 'feed': 11,
 'farming': 10,
 'batteries': 6,
 'glass': 26,
 'cape': 2,
 'crude': 3,
 'middle': 3,
 'cargoes': 3,
 'south': 4,
 'india': 3,
 'sulphur': 2,
 'bulk': 20,
 'liner': 3,
 'fleet': 2,
 'operates': 4,
 'salt': 10,
 'offers': 93,
 'north': 4,
 'gasoline': 3,
 'far': 3,
 'sand': 10,
 'coal': 3,
 'oils': 67,
 'grain': 8,
 'pacific': 19,
 'methanol': 2,
 'cement': 8,
 'ports': 5,
 'palm': 6,
 'east': 4,
 'office': 41,
 'manufacture': 32,
 'capsules': 26,
 'floor': 18,
 'measuring': 7,
 'empty': 3,
 'lighting': 6,
 'gelatin': 29,
 'produces': 6,
 'clothing': 53,
 'fashion': 29,
 'perfumes': 4,
 'cosmetics': 24,
 'preparations': 30,
 'toilet': 6,
 'pickups': 2,
 'brand': 8,
 'fuel': 8,
 'acetate': 2,
 'alcohol': 10,
 'ester': 3,
 'houses': 3,
 'order': 7,
 'mail': 3,
 'golf': 6,
 'turf': 2,
 'combines': 2,
 'dump': 2,
 'harvesting': 4,
 'tractors': 3,
 'forage': 3,
 'medium': 5,
 'precision': 23,
 'excavators': 2,
 'backhoe': 2,
 'graders': 2,
 'mowers': 2,
 'utility': 6,
 'nursery': 2,
 'dozers': 2,
 'landscape': 2,
 'corn': 15,
 'preparation': 46,
 'motor': 32,
 'application': 7,
 'handling': 8,
 'balers': 2,
 'loaders': 8,
 'sugarcane': 3,
 'soil': 2,
 'harvesters': 2,
 'addition': 5,
 'agriculture': 6,
 'crawler': 2,
 'hay': 2,
 'forwarders': 3,
 'lawn': 6,
 'stations': 5,
 'companies': 14,
 'lines': 19,
 'frequency': 5,
 'transformer': 2,
 'hydraulic': 6,
 'sectors': 10,
 'semiconductor': 5,
 'develops': 2,
 'hamburgers': 2,
 'turkeys': 2,
 'dairy': 37,
 'cheeses': 5,
 'pies': 10,
 'carcasses': 2,
 'treatment': 21,
 'loins': 17,
 'bread': 19,
 'bacon': 4,
 'entrees': 4,
 'quail': 5,
 'pastries': 6,
 'whole': 4,
 'bologna': 2,
 'sausages': 11,
 'ribs': 2,
 'ham': 6,
 'vegetables': 110,
 'frozen': 92,
 'steaks': 26,
 'pizzas': 4,
 'juices': 18,
 'pasteurized': 2,
 'margarine': 5,
 'dogs': 4,
 'cut': 12,
 'milk': 26,
 'cuts': 6,
 'meats': 31,
 'venture': 2,
 'travel': 10,
 'capital': 2,
 'development': 46,
 'finance': 4,
 'institutions': 4,
 'activities': 58,
 'hotel': 4,
 'life': 4,
 'asset': 3,
 'market': 13,
 'property': 3,
 'banking': 6,
 'assurance': 2,
 'electricity': 2,
 'packaging': 87,
 'domestic': 3,
 'forwarding': 43,
 'agency': 10,
 'trucking': 35,
 'outlets': 2,
 'john': 5,
 'players': 5,
 'lifestyle': 2,
 'photo': 8,
 'optics': 2,
 'machine': 35,
 'imaging': 5,
 'medical': 2,
 'convenience': 7,
 'byproducts': 2,
 'executive': 3,
 'government': 6,
 'support': 30,
 'eggs': 14,
 'sea': 100,
 'specializes': 16,
 'cod': 74,
 'estate': 7,
 'squid': 66,
 'washers': 9,
 'hook': 3,
 'walls': 2,
 'doors': 3,
 'loop': 4,
 'buttons': 2,
 'curtain': 3,
 'snaps': 2,
 'hooks': 4,
 'rivets': 5,
 'windows': 4,
 'buckles': 3,
 'fasteners': 11,
 'stoppers': 3,
 'cord': 4,
 'rings': 17,
 'zippers': 3,
 'hardware': 32,
 'automobile': 9,
 'tires': 5,
 'buying': 3,
 'properties': 4,
 'selling': 4,
 'shipping': 25,
 'jeans': 8,
 'apparels': 12,
 'denim': 4,
 'railway': 7,
 'fresh': 69,
 'warehousing': 25,
 'seal': 5,
 'carbon': 18,
 'strips': 23,
 'sheets': 14,
 'coils': 4,
 'tubes': 21,
 'copper': 18,
 'battery': 9,
 'zinc': 14,
 'foil': 5,
 'metals': 24,
 'micro': 5,
 'door': 13,
 'powders': 17,
 'locks': 7,
 'circuits': 2,
 'apis': 2,
 'ingredients': 33,
 'engineering': 31,
 'textiles': 26,
 'environment': 4,
 'beverages': 42,
 'filling': 3,
 'shrimp': 91,
 'bakery': 26,
 'tunas': 2,
 'feeds': 7,
 'brownies': 2,
 'seafood': 507,
 'cephalopod': 2,
 'maintenance': 19,
 'manufacturing': 70,
 'enzymes': 5,
 'sauce': 17,
 'soy': 5,
 'wholesale': 4,
 'seasonings': 14,
 'foodstuffs': 6,
 'alloys': 10,
 'black': 11,
 'general': 32,
 'shopping': 4,
 'caribbean': 2,
 'warehouse': 6,
 'america': 3,
 'united': 4,
 'cocktail': 4,
 'mixes': 15,
 'fruit': 29,
 'fruits': 71,
 'manufactures': 8,
 'drinks': 20,
 'soaps': 6,
 'cleaning': 16,
 'flour': 10,
 'detergents': 11,
 'cereals': 8,
 'and/or': 2,
 'derivatives': 4,
 'cookies': 8,
 'hygiene': 5,
 'greases': 4,
 'coffee': 25,
 'wheat': 8,
 'noodles': 13,
 'industrial': 52,
 'fittings': 13,
 'alloy': 15,
 'impact': 3,
 'refrigeration': 9,
 'tube': 7,
 'valves': 19,
 'forgings': 7,
 'brass': 4,
 'shapes': 15,
 'extrusions': 2,
 'rod': 9,
 'online': 3,
 'mixtures': 2,
 'beverage': 9,
 'acids': 5,
 'drinking': 3,
 'mining': 10,
 'sugar': 13,
 'cleaners': 18,
 'blends': 5,
 'salts': 6,
 'controls': 12,
 'instrument': 6,
 'climate': 2,
 'compressors': 8,
 'panels': 15,
 'heat': 18,
 'console': 2,
 'modules': 7,
 'flow': 5,
 'groceries': 31,
 'video': 8,
 'animals': 16,
 'prepared': 7,
 'farm': 13,
 'high-pressure': 2,
 'starch': 3,
 'machines': 90,
 'railways': 3,
 'castings': 15,
 'oems': 2,
 'manufacturers': 9,
 'telecommunications': 6,
 'design': 39,
 'product': 49,
 'crystals': 2,
 'glasses': 4,
 'anodes': 2,
 'processes': 7,
 'screens': 3,
 'crops': 5,
 'areas': 11,
 'use': 23,
 'tobacco': 11,
 'pvc': 14,
 'natural': 8,
 'flowers': 7,
 'fine': 5,
 'monitors': 6,
 'television': 7,
 'printing': 24,
 'varieties': 3,
 'logistics': 98,
 'platforms': 5,
 'capacity': 3,
 'pallet': 5,
 'telescopic': 2,
 'arm': 5,
 'access': 3,
 'rotating': 2,
 'custom': 29,
 'embroidery': 11,
 'transfer': 7,
 'gear': 10,
 'forklift': 3,
 'earth': 2,
 'transmission': 15,
 'angle': 2,
 'sub-assemblies': 2,
 'fabrication': 7,
 'gearboxes': 3,
 'groups': 3,
 'luxury': 2,
 'city': 2,
 'transmissions': 3,
 'kits': 25,
 'cases': 12,
 'assemblies': 13,
 'axles': 3,
 'encoders': 2,
 'distance': 3,
 'adjustment': 2,
 'cylinder': 5,
 'scanners': 3,
 'position': 3,
 'switches': 12,
 'structures': 11,
 'boxes': 23,
 'ties': 10,
 'cable': 17,
 'terminals': 7,
 'lugs': 2,
 'markets': 17,
 'voltage': 3,
 'connectors': 9,
 'quality': 27,
 'hvac': 5,
 'wire': 17,
 'closures': 2,
 'covers': 22,
 'international': 15,
 'exports': 7,
 'salmon': 116,
 'fish': 421,
 'medicine': 11,
 'beauty': 19,
 'necessities': 2,
 'housing': 2,
 'ice': 24,
 'snacks': 17,
 'mediterranean': 4,
 'confectionery': 10,
 'creams': 5,
 'dies': 8,
 'hinges': 2,
 'offset': 2,
 'maritime': 9,
 'jewellery': 2,
 'helmets': 2,
 'shoes': 46,
 'shades': 3,
 'furniture': 43,
 'bags': 45,
 'fragrances': 6,
 'sneakers': 6,
 'beer': 6,
 'ale': 2,
 'malt': 4,
 'petrochemical': 4,
 'pipes': 14,
 'plates': 15,
 'pressure': 20,
 'turbine': 4,
 'merchandising': 6,
 'research': 10,
 'oem': 4,
 'contract': 11,
 'package': 8,
 'cables': 12,
 'shop': 6,
 'mills': 8,
 'arc': 2,
 'furnaces': 9,
 'melt': 7,
 'seeds': 12,
 'utilities': 4,
 'types': 14,
 'synthetic': 2,
 'division': 5,
 'divisions': 3,
 'hatcheries': 6,
 'preserves': 11,
 'porcelain': 3,
 'pigments': 6,
 'inks': 5,
 'glazes': 5,
 'coatings': 25,
 'enamels': 5,
 'colors': 4,
 'stains': 3,
 'women': 38,
 'men': 35,
 'seats': 5,
 'gaskets': 8,
 'valve': 4,
 'piston': 4,
 'liners': 5,
 'adhesives': 55,
 'administration': 3,
 'project': 19,
 'fishing': 36,
 'ocean': 24,
 'shampoo': 2,
 'detergent': 2,
 'hair': 22,
 'liquid': 15,
 'laundry': 8,
 'sealants': 24,
 'gel': 5,
 'surface': 13,
 'clothes': 13,
 'toys': 27,
 'land': 9,
 'source': 115,
 'courier': 6,
 'arranging': 3,
 'shippers': 7,
 'carriers': 10,
 'supply': 20,
 'chain': 22,
 'handbags': 3,
 'furnishings': 16,
 'jewelry': 20,
 'skirts': 12,
 'pants': 9,
 't-shirts': 10,
 'shorts': 6,
 'jackets': 9,
 'kids': 6,
 'sweaters': 8,
 'dresses': 10,
 'tops': 10,
 'aluminium': 11,
 'rollers': 4,
 'correction': 10,
 'tapes': 12,
 'desk': 8,
 'sticks': 12,
 'glues': 18,
 'zipper': 3,
 'garments': 18,
 'ladies': 7,
 'kit': 9,
 'raspberry': 3,
 'wine': 10,
 'garlic': 3,
 'apple': 8,
 'import': 15,
 'export': 24,
 'freelance': 113,
 'footwear': 70,
 'leader': 3,
 'brands': 9,
 'researcher': 113,
 'group': 9,
 'edge': 7,
 'growth': 3,
 'career': 2,
 'innovation': 3,
 'sourcing': 5,
 'marine': 81,
 'cart': 4,
 'cycle': 2,
 'standard': 8,
 'aircraft': 7,
 'engines': 14,
 'screen': 6,
 'projector': 2,
 'plasma': 2,
 'refractory': 9,
 'spare': 3,
 'handles': 10,
 'mechanical': 9,
 'sets': 11,
 'keys': 2,
 'agents': 13,
 'slaughtering': 2,
 'poultry': 47,
 'portions': 13,
 'customized': 2,
 'restaurants': 9,
 'scales': 30,
 'bones': 30,
 'seafoods': 95,
 'fins': 31,
 'smoking': 35,
 'fats': 40,
 'heads': 35,
 'shellfish': 43,
 'skin': 14,
 'decoration': 8,
 'entrails': 24,
 'salting': 28,
 'body': 15,
 'sodium': 6,
 'potassium': 2,
 'chloride': 8,
 'interest': 2,
 'affairs': 2,
 'units': 17,
 'company': 27,
 'assistance': 12,
 'gelatine': 17,
 'yogurt': 7,
 'cream': 21,
 'butter': 6,
 'zucchini': 2,
 'rice': 24,
 'tomato': 10,
 'croquettes': 2,
 'cold': 7,
 'potato': 9,
 'balls': 10,
 'fillets': 76,
 'olives': 11,
 'cheese': 10,
 'cast': 15,
 'die': 17,
 'dry': 7,
 'treats': 4,
 'packs': 9,
 'vitamins': 6,
 'supplements': 19,
 'pollock': 42,
 'protein': 5,
 'alaska': 13,
 'bricks': 2,
 'installation': 14,
 'ceramics': 6,
 'kind': 2,
 'boiler': 3,
 'blanks': 2,
 'work': 21,
 'ductile': 3,
 'engine': 16,
 'tool': 11,
 'rotor': 4,
 'pipeline': 4,
 'hubs': 3,
 'esr': 2,
 'shafts': 4,
 'diesel': 4,
 'moulds': 7,
 'rolls': 15,
 'crank': 2,
 'generator': 2,
 'trout': 42,
 'worldwide': 6,
 'retail': 5,
 'bearings': 11,
 'pistons': 2,
 'consumables': 8,
 'deck': 3,
 'chassis': 3,
 'single': 3,
 'yarns': 22,
 'chips': 8,
 'nylon': 9,
 'containers': 19,
 'bottles': 10,
 'fabrics': 40,
 'foodservice': 6,
 'inspection': 8,
 'manufacturer': 10,
 'series': 20,
 'polymer': 3,
 'butadiene': 2,
 'composites': 5,
 'performance': 14,
 'bass': 27,
 'oysters': 48,
 'tuna': 100,
 'tilapia': 18,
 'lobster': 42,
 'crabs': 63,
 'mollusks': 30,
 'clams': 50,
 'sword': 23,
 'crustaceans': 42,
 'mineral': 5,
 'projects': 10,
 'resources': 4,
 'salad': 16,
 'managements': 3,
 'expertise': 8,
 'porridge': 3,
 'powder': 20,
 'gelatins': 4,
 'flakes': 5,
 'pudding': 2,
 'marmalade': 3,
 'cocoa': 4,
 'produce': 8,
 'vanilla': 2,
 'profiles': 7,
 'architectural': 2,
 'fishmeal': 5,
 'premium': 7,
 'clogs': 5,
 'sandals': 23,
 'intermediates': 3,
 'substances': 2,
 'handlers': 2,
 'machineries': 9,
 'drills': 3,
 'salads': 11,
 'delicacies': 4,
 'marinades': 4,
 'dishes': 11,
 'atlantic': 13,
 'inland': 2,
 'elements': 4,
 'hoses': 6,
 'cooling': 3,
 'sardines': 19,
 'mackerel': 27,
 'horse': 4,
 'labor': 2,
 'pelagic': 2,
 'pipelines': 3,
 'hemming': 7,
 'finishing': 14,
 'piece': 12,
 'fabric': 18,
 'thread': 12,
 'notions': 12,
 'alterations': 8,
 'cells': 3,
 'wafers': 7,
 'cell': 3,
 'facilities': 12,
 'agent': 5,
 'broker': 10,
 'reefer': 2,
 'gum': 5,
 'lollipops': 4,
 'chocolate': 15,
 'candies': 6,
 'interconnect': 2,
 'softeners': 2,
 'napkins': 4,
 'organizations': 3,
 'ammonium': 3,
 'usp': 2,
 'sulphate': 3,
 'coenzyme': 2,
 'butyl': 2,
 'holidays': 2,
 'cruise': 3,
 'ship': 8,
 'tubing': 5,
 'syringe': 2,
 'cartridge': 3,
 'infusion': 3,
 'catalysts': 2,
 'pu': 7,
 'phosphate': 7,
 'polyurethane': 13,
 'retardants': 2,
 'flame': 3,
 'stabilizers': 2,
 'cards': 16,
 'posters': 2,
 'keyboards': 3,
 'racing': 3,
 'family': 5,
 'games': 9,
 'dvds': 2,
 'strategy': 7,
 'consoles': 3,
 'simulation': 2,
 'figurines': 2,
 'headsets': 3,
 'sport': 6,
 'music': 4,
 'action': 4,
 'adventure': 2,
 'board': 13,
 'pc': 5,
 'tea': 22,
 'drugs': 11,
 'nappies': 2,
 'junk': 2,
 'breads': 5,
 'prescription': 2,
 'block': 7,
 'shrimps': 41,
 'shell': 16,
 'raw': 5,
 'cakes': 27,
 'pastry': 11,
 'specialises': 62,
 'electronic': 10,
 'appliance': 5,
 'level': 3,
 'timers': 3,
 'suspension': 5,
 'motorcycle': 2,
 'distributors': 6,
 'relays': 2,
 'train': 2,
 'plug': 2,
 'thermal': 2,
 'ntc': 2,
 'stationery': 41,
 'handicrafts': 6,
 'modes': 3,
 'deconsolidation': 2,
 'carrier': 2,
 'monitoring': 6,
 ...}

In [84]:
filtered_counter3

{'forest': 2,
 'automotive': 41,
 'professional': 10,
 'foundry': 4,
 'warm': 3,
 'electric': 26,
 'semi-finished': 6,
 'logistic': 8,
 'palm': 2,
 'lamb': 5,
 'industrial': 97,
 'warehousing': 2,
 'fatty': 4,
 'wireless': 2,
 'intelligent': 2,
 'clinical': 3,
 'direct': 8,
 'digital': 25,
 'medical': 34,
 'related': 259,
 'commercial': 44,
 'light': 19,
 'diagnostic': 4,
 'synthetic': 26,
 'agricultural': 21,
 'general': 40,
 'organic': 18,
 'dangerous': 4,
 'various': 40,
 'electronic': 63,
 'flat': 19,
 'basic': 25,
 'plasma': 2,
 'liquid': 10,
 'fine': 11,
 'active': 10,
 'raw': 54,
 'pharmaceutical': 49,
 'electrical': 46,
 'heavy': 18,
 'social': 3,
 'air-conditioning': 3,
 'ready': 16,
 'animal': 17,
 'conventional': 5,
 'dry': 36,
 'hard': 10,
 'outdoor': 10,
 'solar': 8,
 'single': 13,
 'double': 11,
 'vinyl': 2,
 'wide': 79,
 'acetic': 2,
 'large': 11,
 'self-propelled': 2,
 'thermal': 6,
 'innovative': 10,
 'whole': 31,
 'vegetarian': 4,
 'hot': 28,
 'smoked': 16,
 'cheese': 7,
 'prepared': 23,
 'soy': 3,
 'frozen': 226,
 'private': 9,
 'corporate': 3,
 'financial': 9,
 'personal': 35,
 'temporary': 2,
 'international': 26,
 'ocean': 21,
 'high-grade': 2,
 'functional': 12,
 'fish': 207,
 'processed': 4,
 'real': 7,
 'architectural': 8,
 'fabric': 11,
 'pneumatic': 5,
 'mechanical': 21,
 'nuclear': 3,
 'precious': 4,
 'rare': 2,
 'long': 6,
 'composite': 6,
 'complete': 22,
 'pet': 9,
 'sandwich': 2,
 'retail': 25,
 'oriental': 3,
 'alcoholic': 6,
 'biochemical': 2,
 'flour': 2,
 'administrative': 5,
 'cosmetic': 10,
 'tubular': 3,
 'plastic': 18,
 'automatic': 14,
 'laundry': 4,
 'fluid': 2,
 'interior': 9,
 'rental': 5,
 'full': 24,
 'original': 11,
 'special': 44,
 'mineral': 8,
 'sensitive': 5,
 'different': 13,
 'high': 42,
 'vertical': 9,
 'compact': 5,
 'staple': 3,
 'gear': 4,
 'natural': 32,
 'planetary': 2,
 'spur': 2,
 'photoelectric': 2,
 'format': 2,
 'magnetic': 8,
 'ultrasonic': 3,
 'whitefish': 5,
 'daily': 9,
 'advanced': 8,
 'die-casting': 4,
 'peripheral': 5,
 'sound': 3,
 'chemical': 7,
 'material': 4,
 'continuous': 12,
 'ladle': 4,
 'auxiliary': 8,
 'final': 5,
 'optical': 19,
 'footwear': 23,
 'casual': 22,
 'young': 2,
 'metal': 10,
 'infrared': 2,
 'orthopaedic': 2,
 'hospital': 4,
 'deep': 6,
 'shower': 7,
 'ancillary': 4,
 'global': 13,
 'comprehensive': 3,
 'glue': 12,
 'adhesive': 21,
 'white': 25,
 'red': 21,
 'sustainable': 4,
 'heavy-duty': 4,
 'allied': 18,
 'inorganic': 12,
 'nonferrous': 5,
 'italian': 7,
 'oral': 3,
 'fresh': 133,
 'local': 9,
 'soft': 20,
 'meal': 3,
 'nutritious': 2,
 'outerwear': 3,
 'legwear': 4,
 'ceramic': 12,
 'marine': 9,
 'cold': 20,
 'pipe': 2,
 'main': 5,
 'athletic': 19,
 'pre-cooked': 4,
 'wholesale': 15,
 'thermoplastic': 5,
 'polypropylene': 2,
 'following': 10,
 'catfish': 14,
 'shellfish': 84,
 'integrated': 3,
 'super': 4,
 'classic': 2,
 'aquatic': 77,
 'finished': 2,
 'domestic': 17,
 'individual': 4,
 'green': 15,
 'sanitary': 8,
 'public': 9,
 'dental': 6,
 'small': 22,
 'gel': 3,
 'rigid': 3,
 'disposable': 6,
 'full-service': 3,
 'solid': 11,
 'portable': 8,
 'joint': 5,
 'insulated': 2,
 'environmental': 12,
 'mold': 4,
 'used': 4,
 'hydraulic': 13,
 'agrochemical': 2,
 'spare': 12,
 'medicinal': 7,
 'low': 10,
 'human': 6,
 'vegetable': 27,
 'dietary': 10,
 'japanese': 9,
 'dried': 11,
 'top': 7,
 'groundfish': 22,
 'technical': 27,
 'largest': 4,
 'blue': 5,
 'dehydrated': 4,
 'chilled': 2,
 'french': 11,
 'breathable': 2,
 'pouch': 3,
 'multi-functional': 2,
 'protective': 11,
 'radish': 2,
 'traditional': 9,
 'chinese': 6,
 'new': 24,
 'foreign': 5,
 'economic': 2,
 'wound': 2,
 'open': 6,
 'intensive': 2,
 'surgical': 6,
 'salad': 9,
 'intermediate': 4,
 'underwear': 5,
 'swimwear': 3,
 'aromatic': 3,
 'drive': 2,
 'inner': 2,
 'elastic': 4,
 'first': 6,
 'internal': 7,
 'orthopedic': 3,
 'military': 8,
 'leather': 6,
 'flexible': 12,
 'sweet': 8,
 'garlic': 4,
 'in-flight': 2,
 'container': 4,
 'less': 6,
 'tropical': 3,
 'arctic': 2,
 'canadian': 2,
 'premium': 7,
 'ready-to-eat': 2,
 'wild': 11,
 'lemon': 4,
 'orange': 3,
 'monkfish': 6,
 'die': 3,
 'supplementary': 2,
 'sealant': 2,
 'cable': 3,
 'neutral': 3,
 'value-added': 5,
 'sunflower': 3,
 'flounder': 16,
 'pacific': 9,
 'ski': 6,
 'metallic': 4,
 'static': 2,
 'universal': 3,
 'mobile': 6,
 'lobster': 6,
 'photographic': 3,
 'edible': 18,
 'high-speed': 2,
 'management': 5,
 'ash': 2,
 'durable': 8,
 'non-durable': 5,
 'shrimp': 7,
 'salmon': 15,
 'concrete': 4,
 'ready-made': 2,
 'epoxy': 6,
 'acrylic': 5,
 'elastomer': 2,
 'reactive': 2,
 'black': 16,
 'healthcare': 2,
 'touch': 2,
 'complex': 5,
 'many': 8,
 'fondue': 3,
 'loose': 3,
 'finfish': 9,
 'cooked': 6,
 'live': 7,
 'clean': 4,
 'acoustic': 3,
 'seasonal': 7,
 'everyday': 2,
 'redfish': 5,
 'prosthetic': 2,
 'orthodontic': 2,
 'ferrous': 4,
 'coastal': 4,
 'bottom': 2,
 'door-to-door': 7,
 'residential': 5,
 'broad': 3,
 'interchangeable': 2,
 'best': 3,
 'resistant': 7,
 'garment': 2,
 'structural': 4,
 'annual': 3,
 'customized': 2,
 'squid': 10,
 'olive': 7,
 'x-ray': 2,
 'quick': 4,
 'canned': 7,
 'cured': 3,
 'instant': 9,
 'external': 5,
 'possible': 3,
 'authentic': 3,
 'secondary': 5,
 'solvent-based': 3,
 'water-based': 2,
 'flex': 3,
 'great': 2,
 'third-party': 5,
 'purpose': 2,
 'extensive': 3,
 'jumbo': 2,
 'stuffed': 4,
 'european': 6,
 'miscellaneous': 17,
 'several': 5,
 'entire': 5,
 'airfreight': 4,
 'shrink-wrapping': 2,
 'perfect': 3,
 'affordable': 2,
 'competitive': 2,
 'state-of-the-art': 4,
 'nutritional': 9,
 'protein': 2,
 'collapsible': 2,
 'start-up': 2,
 'fast': 3,
 'logistics': 2,
 'multi-modal': 2,
 'organizational': 5,
 'bluefish': 3,
 'cuttlefish': 10,
 'crayfish': 5,
 'crustacean': 2,
 'regular': 2,
 'ready-to-serve': 3,
 'similar': 4,
 'iced': 3,
 'knitwear': 2,
 'household': 2,
 'coconut': 2,
 'can/bottle': 3,
 'laminated': 2,
 'pure': 2,
 'printed': 3,
 'ferro-alloys': 2,
 'separate': 3,
 'well-known': 2,
 'and/or': 3,
 'custom': 9,
 'short': 8,
 'big': 4,
 'shade': 2,
 'potable': 2,
 'hybrid': 7,
 'artificial': 6,
 'norwegian': 5,
 'non-ferrous': 5,
 'horizontal': 2,
 'table': 2,
 'floral': 3,
 'essential': 2,
 'engineered': 4,
 'therapeutic': 2,
 'specialized': 5,
 'sole': 6,
 'yellow': 14,
 'cod': 4,
 'multiple': 3,
 'acid': 2,
 'herbal': 6,
 'civil': 3,
 'numerous': 2,
 'organisational': 2,
 'necessary': 4,
 'operational': 4,
 'effective': 2,
 'efficient': 3,
 'screen': 4,
 'combined': 2,
 'courier': 3,
 'regional': 2,
 'on-site': 2,
 'online': 2,
 'eco-friendly': 3,
 'polyethylene': 2,
 'non-woven': 2,
 'woven': 2,
 'bean': 2,
 'in-line': 2,
 'coaxial': 2,
 'textile': 4,
 'diverse': 2,
 'bulk': 3,
 'multimodal': 2,
 'mixed': 3,
 'nail': 3,
 'asian': 12,
 'anaerobic': 4,
 'wear': 4,
 'baked': 2,
 'advisory': 2,
 'stable': 4,
 'major': 5,
 'abrasive': 4,
 'lead': 3,
 'logistical': 3,
 'temperature-controlled': 3,
 'janitorial': 2,
 'multi': 2,
 'modern': 4,
 'native': 2,
 'easy': 4,
 'complementary': 3,
 'indian': 5,
 'tuna': 12,
 'dark': 2,
 'pier': 2,
 'educational': 7,
 'promotional': 10,
 'rockfish': 15,
 'fancy': 11,
 'creative': 2,
 'strategic': 3,
 'graphic': 3,
 'institutional': 3,
 'pangasius': 4,
 'fish-based': 2,
 'biological': 7,
 'botanical': 11,
 'swordfish': 8,
 'hoki': 3,
 'recreational': 2,
 'exotic': 11,
 'suitable': 2,
 'vietnamese': 2,
 'noodle': 3,
 'tilapia': 4,
 'wall': 2,
 'marble': 3,
 'standard': 5,
 'octopus': 6,
 'key': 4,
 'tree': 2,
 'basa': 2,
 'tra': 2,
 'all-purpose': 2,
 'aqua': 2,
 'unsupported': 3,
 'popular': 2,
 'pre-fried': 5,
 'spanish': 3,
 'multipurpose': 2,
 'tundish': 2,
 'ferro': 2,
 'headless': 2,
 'shell-on': 4,
 'ductile': 2,
 'infant': 4,
 'physical': 3,
 'soluble': 2,
 'particular': 4,
 'national': 3,
 'shear': 2,
 'sour': 5,
 'marinated': 5,
 'inflatable': 6,
 'seafood': 2,
 'nondurable': 9,
 'terminal': 4,
 'passive': 3,
 'specific': 4,
 'gross': 2,
 'computerized': 2,
 'fused': 3,
 'perishable': 2,
 'boxed': 2,
 'upper': 4,
 'false': 2,
 'hazardous': 3,
 'delicious': 3,
 'central': 2,
 'net': 3,
 'trained': 2,
 'healthy': 2,
 'dedicated': 2,
 'high-tech': 5,
 'ethnic': 2,
 'stainless': 2,
 'alaska': 2,
 'alloy': 2,
 'locomotive': 2,
 'rectifier': 2,
 'in-house': 2,
 'third': 2,
 'snow': 9,
 'magic': 2,
 'household-type': 4,
 'consumer-type': 3,
 'metallurgical': 3,
 'centrifugal': 2,
 'urban': 2,
 'pest': 2,
 'sashimi': 2,
 'reclosable': 2,
 'sleepwear': 2,
 'side': 3,
 'crawfish': 3,
 'freshwater': 3,
 'flush': 2,
 'off-road': 2,
 'free': 6,
 'worldwide': 2,
 'flathead': 2,
 'brown': 3,
 'vannamei': 2,
 'higher': 3,
 'varnish': 2,
 'repellant': 2,
 'custom-cut': 2,
 'portion-controlled': 2,
 'deli': 2,
 'refractory': 3,
 'non': 2,
 'permanent': 2,
 'stationary': 3,
 'wooden': 6,
 'web': 3,
 'spiral': 2,
 'hot-rolled': 2,
 'fat': 2,
 'peeled': 4,
 'alternative': 2,
 'domesticated': 2,
 'gelatin': 2,
 'component': 2,
 'formal': 2,
 'giant': 3,
 'licensed': 2,
 'ultra': 2,
 'musical': 4,
 'non-food': 2,
 'circular': 2,
 'alaskan': 2,
 'bead': 2,
 'decorative': 7,
 'smaller': 2,
 'cnc-controlled': 2,
 'collectible': 2,
 'available': 2,
 'freight': 4,
 'surimi': 2,
 'rotary': 4,
 'cultural': 2,
 'hose': 2,
 'quick-frozen': 2,
 'sockeye': 3,
 'korean': 2,
 'video': 3,
 'inductive': 2,
 'combo': 2,
 'fashionable': 2,
 'reverse': 2,
 'tie': 2,
 'urchin': 2,
 'logoed': 2,
 'dress': 2,
 'cuttle': 2,
 'audio-visual': 2,
 'postal': 2,
 'hawthorn': 2,
 'pear': 2,
 'nutraceutical': 3,
 'toy': 2,
 'ornamental': 3,
 'antimicrobial': 2,
 'additional': 2,
 'tipped': 2,
 'non-alcoholic': 2,
 'atlantic': 2,
 'zinc': 2,
 'linear': 2,
 'dual': 3}

In [1]:
import pandas as pd
from collections import Counter
ocean_words = pd.read_csv('./ocean_words.csv')
ocean_words = ocean_words[ocean_words['label']==1]
ocean_words_list =list(Counter(ocean_words['category']).keys())
ocean_words_list

['water',
 'vessels',
 'liner',
 'sand',
 'pacific',
 'ports',
 'salt',
 'cod',
 'sea',
 'squid',
 'hooks',
 'hook',
 'shipping',
 'fresh',
 'seal',
 'seafood',
 'shrimp',
 'salts',
 'salmon',
 'fish',
 'mediterranean',
 'ice',
 'maritime',
 'hatcheries',
 'liners',
 'fishing',
 'ocean',
 'carriers',
 'shippers',
 'marine',
 'scales',
 'seafoods',
 'fins',
 'shellfish',
 'fillets',
 'pollock',
 'trout',
 'deck',
 'mollusks',
 'crustaceans',
 'lobster',
 'clams',
 'bass',
 'tuna',
 'crabs',
 'tilapia',
 'oysters',
 'fishmeal',
 'atlantic',
 'mackerel',
 'sardines',
 'cruise',
 'ship',
 'shrimps',
 'shell',
 'anchors',
 'herring',
 'halibut',
 'haddock',
 'whiting',
 'saithe',
 'capelin',
 'mussels',
 'urchins',
 'lobsters',
 'fishes',
 'aquaculture',
 'waters',
 'tanks',
 'yellowfin',
 'roughy',
 'snapper',
 'sole',
 'dory',
 'shark',
 'scampi',
 'chum',
 'sushi',
 'scallop',
 'crab',
 'fisheries',
 'whitefish',
 'fillet',
 'squids',
 'prawns',
 'molluscs',
 'shells',
 'cephalopods',
 'roe',
 'prawn',
 'surimi',
 'turbot',
 'herrings',
 'sprats',
 'bay',
 'scallops',
 'catfish',
 'oyster',
 'eel',
 'anchovy',
 'octopus',
 'mussel',
 'conch',
 'flounder',
 'caviar',
 'abalone',
 'clam',
 'grouper',
 'hake',
 'mullet',
 'fin',
 'hoki',
 'vannamei',
 'pollack',
 'sockeye',
 'marlin',
 'albacore',
 'wahoo',
 'swordfish',
 'coho',
 'mahi',
 'filets',
 'seals',
 'boats',
 'plaice',
 'fishery',
 'ships',
 'anchor',
 'invertebrates',
 'fishcakes',
 'chowders',
 'crabcakes',
 'pangasius',
 'hypophthalmus',
 'smoked',
 'alaskan',
 'catching',
 'seabass',
 'arrowtooth',
 'salmons',
 'seaweeds',
 'yellowtail',
 'mackerels',
 'smelts',
 'eels',
 'habitat',
 'illex',
 'fishmeals',
 'halibuts',
 'crabmeat',
 'beach',
 'freshwater',
 'barramundi',
 'croaker',
 'buoys',
 'freezing',
 'crawfish',
 'pelagics',
 'perch',
 'freeze',
 'nets',
 'seaweed',
 'bream',
 'carp',
 'rockfish',
 'dungeness',
 'spp',
 'frozen',
 'aquatic',
 'groundfish',
 'monkfish',
 'finfish',
 'redfish',
 'coastal',
 'crayfish',
 'bluefish',
 'cuttlefish',
 'net']

In [2]:
len(ocean_words_list)
ocean_words_list.remove('freeze')
ocean_words_list.remove('habitat')
ocean_words_list.remove('frozen')
ocean_words_list.remove('alaskan')
ocean_words_list.remove('bay')
ocean_words_list.remove('anchors')
ocean_words_list.remove('anchor')
ocean_words_list.remove('cruise')
ocean_words_list.remove('ship')
ocean_words_list.remove('ships')
ocean_words_list.remove('vessels')
ocean_words_list.remove('liner')
ocean_words_list.remove('sand')
ocean_words_list.remove('ports')
ocean_words_list.remove('hook')
ocean_words_list.remove('shipping')
ocean_words_list.remove('carriers')
ocean_words_list.remove('deck')
ocean_words_list.remove('liners')
ocean_words_list.remove('fresh')
ocean_words_list.remove('buoys')
ocean_words_list.remove('water')
ocean_words_list.remove('seal')
ocean_words_list.remove('boats')
ocean_words_list.remove('shippers')
ocean_words_list.remove('salts')
ocean_words_list.remove('net')
ocean_words_list.remove('nets')
ocean_words_list.remove('waters')
ocean_words_list.remove('tanks')

ocean_words_list.remove('ice')
ocean_words_list.remove('smoked')
ocean_words_list.remove('hooks')
ocean_words_list.remove('scales')
ocean_words_list.remove('salt')
len(ocean_words_list)

143

In [3]:
ocean_words_list

['pacific',
 'cod',
 'sea',
 'squid',
 'seafood',
 'shrimp',
 'salmon',
 'fish',
 'mediterranean',
 'maritime',
 'hatcheries',
 'fishing',
 'ocean',
 'marine',
 'seafoods',
 'fins',
 'shellfish',
 'fillets',
 'pollock',
 'trout',
 'mollusks',
 'crustaceans',
 'lobster',
 'clams',
 'bass',
 'tuna',
 'crabs',
 'tilapia',
 'oysters',
 'fishmeal',
 'atlantic',
 'mackerel',
 'sardines',
 'shrimps',
 'shell',
 'herring',
 'halibut',
 'haddock',
 'whiting',
 'saithe',
 'capelin',
 'mussels',
 'urchins',
 'lobsters',
 'fishes',
 'aquaculture',
 'yellowfin',
 'roughy',
 'snapper',
 'sole',
 'dory',
 'shark',
 'scampi',
 'chum',
 'sushi',
 'scallop',
 'crab',
 'fisheries',
 'whitefish',
 'fillet',
 'squids',
 'prawns',
 'molluscs',
 'shells',
 'cephalopods',
 'roe',
 'prawn',
 'surimi',
 'turbot',
 'herrings',
 'sprats',
 'scallops',
 'catfish',
 'oyster',
 'eel',
 'anchovy',
 'octopus',
 'mussel',
 'conch',
 'flounder',
 'caviar',
 'abalone',
 'clam',
 'grouper',
 'hake',
 'mullet',
 'fin',
 'hoki',
 'vannamei',
 'pollack',
 'sockeye',
 'marlin',
 'albacore',
 'wahoo',
 'swordfish',
 'coho',
 'mahi',
 'filets',
 'seals',
 'plaice',
 'fishery',
 'invertebrates',
 'fishcakes',
 'chowders',
 'crabcakes',
 'pangasius',
 'hypophthalmus',
 'catching',
 'seabass',
 'arrowtooth',
 'salmons',
 'seaweeds',
 'yellowtail',
 'mackerels',
 'smelts',
 'eels',
 'illex',
 'fishmeals',
 'halibuts',
 'crabmeat',
 'beach',
 'freshwater',
 'barramundi',
 'croaker',
 'freezing',
 'crawfish',
 'pelagics',
 'perch',
 'seaweed',
 'bream',
 'carp',
 'rockfish',
 'dungeness',
 'spp',
 'aquatic',
 'groundfish',
 'monkfish',
 'finfish',
 'redfish',
 'coastal',
 'crayfish',
 'bluefish',
 'cuttlefish']

In [ ]:
# ocean_words_list.remove('shipping')
# ocean_words_list.remove('ports')
# ocean_words_list.remove('vessels')
# ocean_words_list.remove('liner')
# ocean_words_list.remove('carriers')
# ocean_words_list.remove('deck')
# ocean_words_list.remove('liners')

In [9]:
nodes = pd.read_csv('./data/all_unique_nodes.csv')
nodes['product_services'] = nodes['product_services'].apply(eval)

In [19]:
def is_related(row):
    for word in ocean_words_list:
        if any(word.lower() == product.lower() for product in row['words']):
            return 1
    return 0

nodes['related'] = nodes.apply(is_related, axis=1)
nodes

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,...,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality,product_services_string,sentences,num_sentences,words,tagged_words,related
0,Jones LLC,ZH,"[Automobiles, Unknown]","['None', 310612303.447]","{'Company': 1, 'Beneficial Owner': 5, 'Company...",11,1,0,8,8,...,1.000000,1.000000,1.000000,7.071062e-01,Jones LLC | Automobiles | Unknown,[Automobiles | Unknown],1,"[Jones, LLC, |, Automobiles, |, Unknown]","[(Jones, NNP), (LLC, NNP), (|, NNP), (Automobi...",0
1,"Coleman, Hall and Lopez",ZH,"[Passenger cars, trucks, vans, and buses]",[162734683.9969],{'Company': 1},1,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000e+00,"Coleman, Hall and Lopez | Passenger cars, truc...","[Passenger cars, trucks, vans, and buses]",1,"[Coleman, ,, Hall, and, Lopez, |, Passenger, c...","[(Coleman, NNP), (,, ,), (Hall, NNP), (and, CC...",0
2,Aqua Advancements Sashimi SE Express,Oceanus,[Holding firm whose subsidiaries are engaged i...,[115004666.6728],{'Company': 1},1,1,0,3,3,...,1.000000,1.000000,1.000000,7.071069e-01,Aqua Advancements Sashimi SE Express | Holding...,[Holding firm whose subsidiaries are engaged i...,1,"[Aqua, Advancements, Sashimi, SE, Express, |, ...","[(Aqua, NNP), (Advancements, NNP), (Sashimi, N...",0
3,Makumba Ltd. Liability Co,Utoporiana,"[Car service, car parts and accessories, autom...",[90986412.5191],{'Company': 1},1,1,0,13,13,...,0.001833,0.005912,0.058608,5.826009e-07,"Makumba Ltd. Liability Co | Car service, car p...","[Car service, car parts and accessories, autom...",1,"[Makumba, Ltd, ., Liability, Co, |, Car, servi...","[(Makumba, NNP), (Ltd, NNP), (., .), (Liabilit...",0
4,"Taylor, Taylor and Farrell",ZH,[Fully electric vehicles (EVs) and electric ve...,[81466666.6728],{'Company': 1},1,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000e+00,"Taylor, Taylor and Farrell | Fully electric ve...",[Fully electric vehicles (EVs) and electric ve...,1,"[Taylor, ,, Taylor, and, Farrell, |, Fully, el...","[(Taylor, NN), (,, ,), (Taylor, NNP), (and, CC...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51726,Katherine Stewart,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,1.000000,0.000000,1.000000,7.071068e-01,Katherine Stewart | Unknown,[Unknown],1,"[Katherine, Stewart, |, Unknown]","[(Katherine, NNP), (Stewart, NNP), (|, NNP), (...",0
51727,Christopher James,Unknown,[Unknown],['Unknown'],{'Company Contacts': 1},1,0,1,1,1,...,1.000000,0.000000,1.000000,7.071068e-01,Christopher James | Unknown,[Unknown],1,"[Christopher, James, |, Unknown]","[(Christopher, NNP), (James, NNP), (|, NNP), (...",0
51728,Jon Maddox,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,0.000141,0.000000,0.072768,5.606578e-09,Jon Maddox | Unknown,[Unknown],1,"[Jon, Maddox, |, Unknown]","[(Jon, NNP), (Maddox, NNP), (|, NNP), (Unknown...",0
51729,Sandra Eaton,Unknown,[Unknown],['Unknown'],{'Company Contacts': 1},1,0,1,1,1,...,0.000141,0.000000,0.048904,3.747188e-14,Sandra Eaton | Unknown,[Unknown],1,"[Sandra, Eaton, |, Unknown]","[(Sandra, NNP), (Eaton, NNP), (|, NNP), (Unkno...",0
51730,Debra Bender,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,1.000000,0.000000,1.000000,7.071068e-01,Debra Bender | Unknown,[Unknown],1,"[Debra, Bender, |, Unknown]","[(Debra, NNP), (Bender, NNP), (|, NNP), (Unkno...",0

In [ ]:
is_ocean_node = []
for name, product in zip(nodes['id'], nodes['product_services']):
    flag = 0
    for word in ocean_words_list:
        if ' '+word+' ' in ' '+name+' ':
            print("name : ", name)
            print("ocean word : ", word)
            print()
            flag = 1
            break
    if flag==0:
        for p in product:
            if flag==1:
                break
            for word in ocean_words_list:
                if (' '+word+' ' in ' '+p+' ') or (' '+word+' ' in p+' '):
                    print("product : ", p)
                    print("ocean word : ", word)
                    print()
                    flag = 1
                    break
    is_ocean_node.append(flag)
is_ocean_node
nodes['related'] = is_ocean_node

In [20]:
# pd.set_option('display.max_seq_items', None)
ocean_nodes = nodes[nodes['related']==1]
ocean_nodes

,id,country,product_services,revenue_omu,type,type_length,is_source,is_target,weighted_degree,degree,...,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality,product_services_string,sentences,num_sentences,words,tagged_words,related
6,Punjab s Marine conservation,Riodelsol,"[Beef, pork, chicken, and lamb by-products; co...",[72167572.0026],{'Company': 1},1,1,0,6,6,...,0.666667,0.833333,0.600000,6.858327e-01,"Punjab s Marine conservation | Beef, pork, chi...","[Beef, pork, chicken, and lamb by-products; co...",1,"[Punjab, s, Marine, conservation, |, Beef, ,, ...","[(Punjab, NNP), (s, PRP), (Marine, NNP), (cons...",1
12,Saltwater Sisters AS Marine life,Coralmarica,"[Food and daily household needs products, gene...",[41542564.0136],{'Company': 1},1,1,0,3,3,...,1.000000,1.000000,1.000000,7.071069e-01,Saltwater Sisters AS Marine life | Food and da...,"[Food and daily household needs products, gene...",1,"[Saltwater, Sisters, AS, Marine, life, |, Food...","[(Saltwater, NN), (Sisters, NNPS), (AS, NNP), ...",1
13,The Sea Turtle Company,Oceanus,[Grocery products],[40362666.6728],{'Company': 1},1,1,0,78,39,...,0.464286,0.751004,0.442105,7.043013e-01,The Sea Turtle Company | Grocery products,[Grocery products],1,"[The, Sea, Turtle, Company, |, Grocery, products]","[(The, DT), (Sea, NNP), (Turtle, NNP), (Compan...",1
19,Uttar Pradesh Sea Company Seafoam,Osterivaria,[Wide range of consumer products],[24120481.1023],{'Company': 1},1,1,0,12,3,...,0.750000,0.250000,0.800000,4.999997e-01,Uttar Pradesh Sea Company Seafoam | Wide rang...,[Wide range of consumer products],1,"[Uttar, Pradesh, Sea, Company, Seafoam, |, Wid...","[(Uttar, NNP), (Pradesh, NNP), (Sea, NNP), (Co...",1
22,Okavango River NV Marine life,Kondanovia,[Batteries],[15884149.6701],{'Company': 1},1,1,0,7,7,...,0.000987,0.001691,0.049070,3.610137e-15,Okavango River NV Marine life | Batteries,[Batteries],1,"[Okavango, River, NV, Marine, life, |, Batteries]","[(Okavango, NNP), (River, NNP), (NV, NNP), (Ma...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46566,Julie Bass,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,0.000141,0.000000,0.061534,1.325330e-13,Julie Bass | Unknown,[Unknown],1,"[Julie, Bass, |, Unknown]","[(Julie, NNP), (Bass, NNP), (|, NNP), (Unknown...",1
47526,Katherine Herring,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,0.000141,0.000000,0.068013,1.833378e-09,Katherine Herring | Unknown,[Unknown],1,"[Katherine, Herring, |, Unknown]","[(Katherine, NNP), (Herring, NNP), (|, NNP), (...",1
47851,Melanie Bass,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,1.000000,0.000000,1.000000,7.071068e-01,Melanie Bass | Unknown,[Unknown],1,"[Melanie, Bass, |, Unknown]","[(Melanie, NNP), (Bass, NNP), (|, NNP), (Unkno...",1
49594,Karen Bass,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,0.083333,0.000000,0.521739,2.041244e-01,Karen Bass | Unknown,[Unknown],1,"[Karen, Bass, |, Unknown]","[(Karen, NNP), (Bass, NNP), (|, NNP), (Unknown...",1
51403,Mackenzie Bass,Unknown,[Unknown],['Unknown'],{'Beneficial Owner': 1},1,0,1,1,1,...,1.000000,0.000000,1.000000,7.071068e-01,Mackenzie Bass | Unknown,[Unknown],1,"[Mackenzie, Bass, |, Unknown]","[(Mackenzie, NNP), (Bass, NNP), (|, NNP), (Unk...",1

In [72]:
ocean_nodes.to_csv("./data/ocean_nodes_new.csv", index=False)

In [74]:
ocean_words

        category  count  label
41         water     72    1.0
171      vessels     10    1.0
238        liner      3    1.0
241         sand     10    1.0
248      pacific     19    1.0
...          ...    ...    ...
2257     octopus      6    1.0
2277         net      3    1.0
2285  freshwater      3    1.0
2286    crawfish      3    1.0
2300     sockeye      3    1.0

[204 rows x 3 columns]

In [5]:
from wordcloud import WordCloud 
from collections import Counter

In [6]:
counter = {}
for wd in ocean_words_list:
    counter[wd] = ocean_words[ocean_words['category'] == wd]['count'].sum()

wc = WordCloud(background_color="white", max_words=152, width=800, height=500)
wc.generate_from_frequencies(counter)
wc.to_file(f"./wordcloud2.png")

In [83]:
len(ocean_words_list)

152